body {
	margin: 0;
	padding: 0;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.qaaf-form div {
	width: 100%;
	margin-bottom: 10px;
}

.qaaf-form div span {
	padding-left: 10px;
}

#setting-button {
	position: absolute;
    right: 10px;
    top: 10px;
}

#depot-button {
	position: absolute;
    right: 10px;
    top: 60px;
}