<div class="modal-body">
	<form class="qaaf-form">
		<div><input type="checkbox" class="form-group" ng-model="config.deliverCapacity" /><span>deliverCapacity</span></div>
		<div><input type="checkbox" class="form-group" ng-model="config.takeCapacity" /><span>takeCapacity</span></div>
		<div><input type="checkbox" class="form-group" ng-model="config.timeWindows" /><span>timeWindows</span></div>
		<div><input type="checkbox" class="form-group" ng-model="config.distance" /><span>distance</span></div>
		<div><input type="checkbox" class="form-group" ng-model="config.duration" /><span>duration</span></div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="save()">save</button>
</div>